apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: elastic-metrics-demo
  labels:
    app: worker
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: worker
