apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: elastic-metrics-demo
  labels:
    app: otel-collector
spec:
  type: ClusterIP
  ports:
  - port: 4317
    targetPort: 4317
    protocol: TCP
    name: otlp-grpc
  - port: 4318
    targetPort: 4318
    protocol: TCP
    name: otlp-http
  selector:
    app: otel-collector
